*{
  padding: 0;
  margin: 0;
  background-color: #000;
  box-sizing: border-box;
  font-family: sans-serif;
}
.app-container{
  width: 100%;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.heading{
  color: #fff;
  font-weight: 300;
  display: block;
  margin-bottom: 5px;
}
.input{
  flex: 2;
  outline: none;
  /* border-bottom: 2px solid white; */
  background-color: rgb(241, 240, 240);
  width: 50%;
  /* display: block; */
  border: none;
  padding: 20px 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

.submit{
  flex: 1;
  background-color: #aaa;
  padding: 20px;
  outline: none;
}

.itemContainer{
  background-attachment: #fff;
  color: red;
  width: 100%;
  height: 10vh;
}